.main {
  margin: auto;
  padding-top: 3em;
  width: 70%;
}

.content {
  padding: 1.5em 0;
}

ul {
  list-style:none;
  padding-left: 0.75em;
}​

.detail {
  padding-top: 0.75em;
}

button {
  float: right;
}
